.fundo{
    background-image: url(img/olinda1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.cadastro{
    
    background-color: #d3d3cb;
    margin-left: 500px;
    margin-top: 40px;
    width: 400px;
    padding: 40px;
    border: 10px solid rgb(192, 173, 173);
}
.cadastro p{
    width: 100%;
    font-size: x-large;
}
.dados{
    width: 100%;
    margin: 15px 0;
}

.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
input[type=tel],
input[type=date],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;

}


textarea{
    line-height: 20px;
    padding: 10px;
    height: 50px;
    resize: 10px;
}
input[type=submit]{
    display: inline-block;
    background-color: rgb(9, 138, 41);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;

} input[type=reset]{
    display: inline-flex;
    background-color: rgb(180, 18, 18);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;}

    .envia{
        position: fixed;
        top: 0; bottom: 0;
        left: 0; right: 0;
        margin: auto;
        width: 100px;
        height: 50px;
        padding: 15px;
        border: solid thistle;
        background: whitesmoke;
        display: none;

    }